
* {
    box-sizing: border-box;
}body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 1.88;
}
p {
    margin: 0;
}
input {
    padding: 24px;
    font: inherit;
    border: none;
    outline: none;
}
button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.search-form {
    margin: 0 auto;
    display: flex;

}
.search_input {
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid #838383;
    border-right: none;
    border-radius: 8px 0 0 8px;
    background-color: rgba(47, 83, 79, 0.16);;
 
}
.search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #838383;
    border-left: none;
    background-color: rgba(47, 83, 79, 0.16);
}
.search_btn_icon {
    fill: #838383
}
.search-form_wrap {
    background: linear-gradient(90deg, #e3e6e5, #03ada2);
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
