
* {
    box-sizing: border-box;
}
body {
    /* position: relative; */
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 1.88;
}
p {
    margin: 0;
}
input {
    padding: 24px;
    font: inherit;
    border: none;
    outline: none;
}
button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 30px 15px;
}
.search-form {
    margin: 0 auto;
    display: flex;

}
.search_input {
    height: 50px;
    padding-left: 16px;
    border: 1px solid #838383;
    border-right: none;
    border-radius: 8px 0 0 8px;
    background-color: rgba(47, 83, 79, 0.16);;
 
}
.search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #838383;
    border-left: none;
    background-color: rgba(47, 83, 79, 0.16);
}
.search_btn_icon {
    fill: #838383
}
.search-form_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 16px 0;
    background: linear-gradient(90deg, #e3e6e5, #03ada2);
    border-radius: 16px;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.photo-card {
    position: relative;
    width: calc((100% - 45px) / 3);
}

.photo-img {
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.info-list {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    list-style: none;
    background-color: rgb(17 93 154 / 35%);
    margin: 0 ;
    padding: 0;
    padding: 8px;
    border-radius: 0 0 16px 16px;
    color: #fafafa;
}

